// Here you can add other styles
.Flabel{
    margin-right: 2rem;
}

.Input{
    width:50% !important;
}
body {
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Space between the input fields */
}